In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("flight_delays.csv")
df

,Month,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
0,1,6.955843,-0.320888,7.347281,-2.043847,8.537497,18.357238,3.512640,18.164974,11.398054,10.889894,6.352729,3.107457,1.420702,3.389466
1,2,7.530204,-0.782923,18.657673,5.614745,10.417236,27.424179,6.029967,21.301627,16.474466,9.588895,7.260662,7.114455,7.784410,3.501363
2,3,6.693587,-0.544731,10.741317,2.077965,6.730101,20.074855,3.468383,11.018418,10.039118,3.181693,4.892212,3.330787,5.348207,3.263341
3,4,4.931778,-3.009003,2.780105,0.083343,4.821253,12.640440,0.011022,5.131228,8.766224,3.223796,4.376092,2.660290,0.995507,2.996399
4,5,5.173878,-1.716398,-0.709019,0.149333,7.724290,13.007554,0.826426,5.466790,22.397347,4.141162,6.827695,0.681605,7.102021,5.680777
5,6,8.191017,-0.220621,5.047155,4.419594,13.952793,19.712951,0.882786,9.639323,35.561501,8.338477,16.932663,5.766296,5.779415,10.743462
6,7,3.870440,0.377408,5.841454,1.204862,6.926421,14.464543,2.001586,3.980289,14.352382,6.790333,10.262551,NaN,7.135773,10.504942
7,8,3.193907,2.503899,9.280950,0.653114,5.154422,9.175737,7.448029,1.896565,20.519018,5.606689,5.014041,NaN,5.106221,5.532108
8,9,-1.432732,-1.813800,3.539154,-3.703377,0.851062,0.978460,3.696915,-2.167268,8.000101,1.530896,-1.794265,NaN,0.070998,-1.336260
9,10,-0.580930,-2.993617,3.676787,-5.011516,2.303760,0.082127,0.467074,-3.735054,6.810736,1.750897,-2.456542,NaN,2.254278,-0.688851
10,11,0.772630,-1.916516,1.418299,-3.175414,4.415930,11.164527,-2.719894,0.220061,7.543881,4.925548,0.281064,NaN,0.116370,0.995684
11,12,4.149684,-1.846681,13.839290,2.504595,6.685176,9.346221,-1.706475,0.662486,12.733123,10.947612,7.012079,NaN,13.498720,6.720893

In [3]:
df.set_index('Month', inplace=True)

In [4]:
df

,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
Month,,,,,,,,,,,,,,
1,6.955843,-0.320888,7.347281,-2.043847,8.537497,18.357238,3.512640,18.164974,11.398054,10.889894,6.352729,3.107457,1.420702,3.389466
2,7.530204,-0.782923,18.657673,5.614745,10.417236,27.424179,6.029967,21.301627,16.474466,9.588895,7.260662,7.114455,7.784410,3.501363
3,6.693587,-0.544731,10.741317,2.077965,6.730101,20.074855,3.468383,11.018418,10.039118,3.181693,4.892212,3.330787,5.348207,3.263341
4,4.931778,-3.009003,2.780105,0.083343,4.821253,12.640440,0.011022,5.131228,8.766224,3.223796,4.376092,2.660290,0.995507,2.996399
5,5.173878,-1.716398,-0.709019,0.149333,7.724290,13.007554,0.826426,5.466790,22.397347,4.141162,6.827695,0.681605,7.102021,5.680777
6,8.191017,-0.220621,5.047155,4.419594,13.952793,19.712951,0.882786,9.639323,35.561501,8.338477,16.932663,5.766296,5.779415,10.743462
7,3.870440,0.377408,5.841454,1.204862,6.926421,14.464543,2.001586,3.980289,14.352382,6.790333,10.262551,NaN,7.135773,10.504942
8,3.193907,2.503899,9.280950,0.653114,5.154422,9.175737,7.448029,1.896565,20.519018,5.606689,5.014041,NaN,5.106221,5.532108
9,-1.432732,-1.813800,3.539154,-3.703377,0.851062,0.978460,3.696915,-2.167268,8.000101,1.530896,-1.794265,NaN,0.070998,-1.336260
10,-0.580930,-2.993617,3.676787,-5.011516,2.303760,0.082127,0.467074,-3.735054,6.810736,1.750897,-2.456542,NaN,2.254278,-0.688851
11,0.772630,-1.916516,1.418299,-3.175414,4.415930,11.164527,-2.719894,0.220061,7.543881,4.925548,0.281064,NaN,0.116370,0.995684
12,4.149684,-1.846681,13.839290,2.504595,6.685176,9.346221,-1.706475,0.662486,12.733123,10.947612,7.012079,NaN,13.498720,6.720893

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 1 to 12
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AA      12 non-null     float64
 1   AS      12 non-null     float64
 2   B6      12 non-null     float64
 3   DL      12 non-null     float64
 4   EV      12 non-null     float64
 5   F9      12 non-null     float64
 6   HA      12 non-null     float64
 7   MQ      12 non-null     float64
 8   NK      12 non-null     float64
 9   OO      12 non-null     float64
 10  UA      12 non-null     float64
 11  US      6 non-null      float64
 12  VX      12 non-null     float64
 13  WN      12 non-null     float64
dtypes: float64(14)
memory usage: 1.4 KB

In [6]:
df.isnull()

,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
Month,,,,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,True,False,False
8,False,False,False,False,False,False,False,False,False,False,False,True,False,False
9,False,False,False,False,False,False,False,False,False,False,False,True,False,False
10,False,False,False,False,False,False,False,False,False,False,False,True,False,False
11,False,False,False,False,False,False,False,False,False,False,False,True,False,False
12,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [7]:
df.describe()

,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,6.000000,12.000000,12.000000
mean,4.120776,-1.023656,6.788370,0.231116,6.543328,13.035736,1.993205,5.964953,14.549663,5.909658,5.413415,3.776815,4.717718,4.275277
std,3.157890,1.544310,5.543460,3.247467,3.506834,7.844315,2.987726,7.780334,8.319500,3.380527,5.281123,2.305290,3.968928,3.827093
min,-1.432732,-3.009003,-0.709019,-5.011516,0.851062,0.082127,-2.719894,-3.735054,6.810736,1.530896,-2.456542,0.681605,0.070998,-1.336260
25%,2.588588,-1.864140,3.349392,-2.326739,4.719922,9.303600,0.353061,0.551880,8.574693,3.213270,3.352335,2.772082,1.314403,2.496220
50%,4.540731,-1.249661,5.444304,0.401224,6.707638,12.823997,1.442186,4.555758,12.065589,5.266119,5.683385,3.219122,5.227214,3.445415
75%,6.759151,-0.295821,9.646042,2.184623,7.927592,18.696167,3.558709,9.984097,17.485604,8.651081,7.074225,5.157419,7.110459,5.940806
max,8.191017,2.503899,18.657673,5.614745,13.952793,27.424179,7.448029,21.301627,35.561501,10.947612,16.932663,7.114455,13.498720,10.743462

In [8]:
df['US'].fillna(df['US'].mean(), inplace=True)

/tmp/ipykernel_18479/3584706929.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['US'].fillna(df['US'].mean(), inplace=True)

In [9]:
df

,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
Month,,,,,,,,,,,,,,
1,6.955843,-0.320888,7.347281,-2.043847,8.537497,18.357238,3.512640,18.164974,11.398054,10.889894,6.352729,3.107457,1.420702,3.389466
2,7.530204,-0.782923,18.657673,5.614745,10.417236,27.424179,6.029967,21.301627,16.474466,9.588895,7.260662,7.114455,7.784410,3.501363
3,6.693587,-0.544731,10.741317,2.077965,6.730101,20.074855,3.468383,11.018418,10.039118,3.181693,4.892212,3.330787,5.348207,3.263341
4,4.931778,-3.009003,2.780105,0.083343,4.821253,12.640440,0.011022,5.131228,8.766224,3.223796,4.376092,2.660290,0.995507,2.996399
5,5.173878,-1.716398,-0.709019,0.149333,7.724290,13.007554,0.826426,5.466790,22.397347,4.141162,6.827695,0.681605,7.102021,5.680777
6,8.191017,-0.220621,5.047155,4.419594,13.952793,19.712951,0.882786,9.639323,35.561501,8.338477,16.932663,5.766296,5.779415,10.743462
7,3.870440,0.377408,5.841454,1.204862,6.926421,14.464543,2.001586,3.980289,14.352382,6.790333,10.262551,3.776815,7.135773,10.504942
8,3.193907,2.503899,9.280950,0.653114,5.154422,9.175737,7.448029,1.896565,20.519018,5.606689,5.014041,3.776815,5.106221,5.532108
9,-1.432732,-1.813800,3.539154,-3.703377,0.851062,0.978460,3.696915,-2.167268,8.000101,1.530896,-1.794265,3.776815,0.070998,-1.336260
10,-0.580930,-2.993617,3.676787,-5.011516,2.303760,0.082127,0.467074,-3.735054,6.810736,1.750897,-2.456542,3.776815,2.254278,-0.688851
11,0.772630,-1.916516,1.418299,-3.175414,4.415930,11.164527,-2.719894,0.220061,7.543881,4.925548,0.281064,3.776815,0.116370,0.995684
12,4.149684,-1.846681,13.839290,2.504595,6.685176,9.346221,-1.706475,0.662486,12.733123,10.947612,7.012079,3.776815,13.498720,6.720893

In [11]:
df.dtypes

AA    float64
AS    float64
B6    float64
DL    float64
EV    float64
F9    float64
HA    float64
MQ    float64
NK    float64
OO    float64
UA    float64
US    float64
VX    float64
WN    float64
dtype: object

In [13]:
df.dtypes['Month']

KeyError: 'Month'