In [63]:
import pandas as pd

df = pd.read_csv("Churn_data.csv")
df

,Unnamed: 0,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,...,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Churn
0,1,8260-NGFNY,One,Month-to-month,No,Mailed check,25.20,25.20,Female,0.0,...,No,No phone service,DSL,No,No,No,No,No,No,Yes
1,2,2359-QWQUL,39,One year,Yes,Credit card (automatic),104.70,4134.85,Female,0.0,...,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Yes
2,3,6598/RFFVI,2,One year,No,Credit card (automatic),19.30,28.30,Male,0.0,...,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes
3,4,IXSTS-8780,6,Month-to-month,Yes,Electronic check,90.10,521.30,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Yes
4,5,2674/MIAHT,Four,Month-to-month,Yes,Mailed check,80.30,324.20,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,253,9318-NKNFC,One,Month-to-month,Yes,Mailed check,18.85,18.85,Male,0.0,...,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes
253,254,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
254,255,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
255,256,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
256,257,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        257 non-null    int64
 1   customerID        257 non-null    object
 2   tenure            257 non-null    object
 3   Contract          257 non-null    object
 4   PaperlessBilling  257 non-null    object
 5   PaymentMethod     257 non-null    object
 6   MonthlyCharges    247 non-null    float64
 7   TotalCharges      242 non-null    float64
 8   gender            257 non-null    object
 9   SeniorCitizen     252 non-null    float64
 10  Partner           257 non-null    object
 11  Dependents        257 non-null    object
 12  PhoneService      257 non-null    object
 13  MultipleLines     257 non-null    object
 14  InternetService   257 non-null    object
 15  OnlineSecurity    257 non-null    object
 16  OnlineBackup      257 non-null    object
 17  DeviceProtection  257 non-null    object
 18  TechSupport       257 non-null    object
 19  StreamingTV       257 non-null    object
 20  StreamingMovies   257 non-null    object
 21  Churn             257 non-null    object
dtypes: float64(3), int64(1), object(18)
memory usage: 44.3+ KB

In [4]:
df.describe()

       Unnamed: 0  MonthlyCharges  TotalCharges  SeniorCitizen
count  257.000000      247.000000    242.000000     252.000000
mean   129.000000       62.473482   2267.953719       0.134921
std     74.333707       31.126525   2270.876564       0.342319
min      1.000000        3.500000     18.850000       0.000000
25%     65.000000       25.700000    450.687500       0.000000
50%    129.000000       70.300000   1313.025000       0.000000
75%    193.000000       88.325000   3691.187500       0.000000
max    257.000000      115.100000   8337.450000       1.000000

In [7]:
#2 
df_dict = df.to_dict()
df_dict

dict_df = pd.DataFrame.from_dict(df_dict)
dict_df

,Unnamed: 0,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,...,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Churn
0,1,8260-NGFNY,One,Month-to-month,No,Mailed check,25.20,25.20,Female,0.0,...,No,No phone service,DSL,No,No,No,No,No,No,Yes
1,2,2359-QWQUL,39,One year,Yes,Credit card (automatic),104.70,4134.85,Female,0.0,...,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Yes
2,3,6598/RFFVI,2,One year,No,Credit card (automatic),19.30,28.30,Male,0.0,...,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes
3,4,IXSTS-8780,6,Month-to-month,Yes,Electronic check,90.10,521.30,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Yes
4,5,2674/MIAHT,Four,Month-to-month,Yes,Mailed check,80.30,324.20,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,253,9318-NKNFC,One,Month-to-month,Yes,Mailed check,18.85,18.85,Male,0.0,...,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes
253,254,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
254,255,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
255,256,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
256,257,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No

In [11]:
df_list = df.values.tolist()
df_list
list_cols = df.columns.tolist()
list_cols

list_df = pd.DataFrame(df_list, columns=list_cols)
list_df

,Unnamed: 0,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,...,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Churn
0,1,8260-NGFNY,One,Month-to-month,No,Mailed check,25.20,25.20,Female,0.0,...,No,No phone service,DSL,No,No,No,No,No,No,Yes
1,2,2359-QWQUL,39,One year,Yes,Credit card (automatic),104.70,4134.85,Female,0.0,...,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Yes
2,3,6598/RFFVI,2,One year,No,Credit card (automatic),19.30,28.30,Male,0.0,...,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes
3,4,IXSTS-8780,6,Month-to-month,Yes,Electronic check,90.10,521.30,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Yes
4,5,2674/MIAHT,Four,Month-to-month,Yes,Mailed check,80.30,324.20,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,253,9318-NKNFC,One,Month-to-month,Yes,Mailed check,18.85,18.85,Male,0.0,...,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes
253,254,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
254,255,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
255,256,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
256,257,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No

In [14]:
df_tup = tuple(df.itertuples(index=False))
df_tup

tuple_df = pd.DataFrame(df_tup)
tuple_df

,_0,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,...,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Churn
0,1,8260-NGFNY,One,Month-to-month,No,Mailed check,25.20,25.20,Female,0.0,...,No,No phone service,DSL,No,No,No,No,No,No,Yes
1,2,2359-QWQUL,39,One year,Yes,Credit card (automatic),104.70,4134.85,Female,0.0,...,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Yes
2,3,6598/RFFVI,2,One year,No,Credit card (automatic),19.30,28.30,Male,0.0,...,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes
3,4,IXSTS-8780,6,Month-to-month,Yes,Electronic check,90.10,521.30,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Yes
4,5,2674/MIAHT,Four,Month-to-month,Yes,Mailed check,80.30,324.20,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,253,9318-NKNFC,One,Month-to-month,Yes,Mailed check,18.85,18.85,Male,0.0,...,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes
253,254,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
254,255,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
255,256,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No
256,257,9067-SQTNS,44,One year,No,Bank transfer (automatic),20.60,926.00,Male,0.0,...,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes,No internet service,No

In [20]:
import pandas as pd

with open("faculty_data.txt", "r") as file:
    lines = file.readlines()

name, position, dept, degree, exp, address = [], [], [], [], [], []

for i, line in enumerate(lines):
    clean_line = line.strip()
    if i % 6 == 0:
        name.append(clean_line)
    elif i % 6 == 1:
        position.append(clean_line)
    elif i % 6 == 2:
        dept.append(clean_line)
    elif i % 6 == 3:
        degree.append(clean_line)
    elif i % 6 == 4:
        exp.append(clean_line)
    elif i % 6 == 5:
        address.append(clean_line)

df_faculty = pd.DataFrame({
    "Name": name,
    "Position": position,
    "Department": dept,
    "Degree": degree,
    "Experience": exp,
    "Address": address,
})

print(df_faculty)

           Name             Position               Department  \
0  Dr. Benjamin  Associate Professor     Computer Engineering
1     Dr. Harry  Associate Professor  Electronics Engineering
2       Dr. Tom            Professor                       CE
3      Dr. Sabu  Associate Professor             Data Science
4      Dr. Ajay  Associate Professor                    Maths
5   Prof. Aamir  Assistant Professor
6   Prof. Vicky                                          Extc

             Degree Experience                                       Address
0   PhD Engineering         12                    B204, Apartment, Thane-58.
1   PhD Engineering          5            A-1001, XYZ Apartment, Mumbai- 56.
2   PhD Engineering         20
3  PhD Data Science         11        002, ABC CHS Ltd., Vile Parle, Mumbai.
4         PhD Maths             C-103, Abhay CHS Ltd., Andheri(w) Mumbai-56.
5          MTech CE          8     C-403, Aman CHS Ltd., Goregao, Mumbai-56.
6      PhD Computer        NaN          B-1001, Apartment, Borivali, Mumbai.

In [21]:
df_faculty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        7 non-null      object
 1   Position    7 non-null      object
 2   Department  7 non-null      object
 3   Degree      7 non-null      object
 4   Experience  7 non-null      object
 5   Address     7 non-null      object
dtypes: object(6)
memory usage: 468.0+ bytes

In [23]:
df_faculty.size

42

In [25]:
df_faculty.shape

(7, 6)

In [26]:
df_faculty.dtypes

Name          object
Position      object
Department    object
Degree        object
Experience    object
Address       object
dtype: object

In [27]:
df_faculty.describe()

,Name,Position,Department,Degree,Experience,Address
count,7,7,7,7,7,7
unique,7,4,7,5,7,7
top,Dr. Benjamin,Associate Professor,Computer Engineering,PhD Engineering,12,"B204, Apartment, Thane-58."
freq,1,4,1,3,1,1

In [41]:
df_faculty.isnull()

    Name  Position  Department  Degree  Experience  Address
0  False     False       False   False       False    False
1  False     False       False   False       False    False
2  False     False       False   False       False    False
3  False     False       False   False       False    False
4  False     False       False   False       False    False
5  False     False       False   False       False    False
6  False     False       False   False       False    False

In [46]:
df_pul = pd.read_csv("Pulse_rate_data.csv")
df_pul.isnull().sum().sum()

5

In [48]:
df_pul.duplicated().sum()

1

In [55]:
df_formatted = df_pul.copy()                 
df_formatted

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0     130.0     409.1
1         60  '2020/12/02'  117.0     145.0     479.0
2         60  '2020/12/03'  103.0     135.0     340.0
3         45  '2020/12/04'  109.0     175.0     282.4
4         45  '2020/12/05'  117.0     148.0     406.0
5         60  '2020/12/06'  102.0     127.0     300.0
6         60  '2020/12/07'  110.0     136.0     374.0
7        450  '2020/12/08'  104.0     134.0     253.3
8         30  '2020/12/09'  109.0       NaN     195.1
9         60  '2020/12/10'   98.0     124.0     269.0
10        60  '2020/12/11'  103.0     147.0     329.3
11        60  '2020/12/12'  100.0     120.0     250.7
12        60  '2020/12/12'  100.0     120.0     250.7
13        60  '2020/12/13'  106.0     128.0     345.3
14        60  '2020/12/14'  104.0     132.0     379.3
15        60  '2020/12/15'   98.0     123.0     275.0
16        60  '2020/12/16'   98.0     120.0     215.2
17        60  '2020/12/17'  100.0     120.0     300.0
18        45  '2020/12/18'   90.0     112.0       NaN
19        60  '2020/12/19'  103.0     123.0     323.0
20        45  '2020/12/20'   97.0     125.0     243.0
21        60  '2020/12/21'  108.0     131.0     364.2
22        45           NaN  100.0     119.0     282.0
23        60  '2020/12/23'  130.0     101.0     300.0
24        45  '2020/12/24'    NaN     132.0     246.0
25        60  '2020/12/25'  102.0     126.0     334.5
26        60      20201226  100.0     120.0     250.0
27        60  '2020/12/27'   92.0     118.0     241.0
28        60  '2020/12/28'  103.0     132.0       NaN
29        60  '2020/12/29'  100.0     132.0     280.0
30        60  '2020/12/30'  102.0     129.0     380.3
31        60  '2020/12/31'   92.0     115.0     243.0

In [62]:
df_formatted['Date'].fillna('No data', inplace=True)
df_formatted['Pulse'].fillna(df_formatted['Pulse'].mean(),inplace=True)
df_formatted['Maxpulse'].fillna(df_formatted['Maxpulse'].mean(),inplace=True)
df_formatted['Calories'].fillna(df_formatted['Calories'].mean(),inplace=True)
df_formatted

/tmp/ipykernel_16470/3169831510.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_formatted['Pulse'].fillna(df_formatted['Pulse'].mean(),inplace=True)
/tmp/ipykernel_16470/3169831510.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_formatted['Maxpulse'].fillna(df_formatted['Maxpulse'].mean(),inplace=True)
/tmp/ipykernel_16470/3169831510.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_formatted['Calories'].fillna(df_formatted['Calories'].mean(),inplace=True)

    Duration          Date       Pulse    Maxpulse  Calories
0         60  '2020/12/01'  110.000000  130.000000    409.10
1         60  '2020/12/02'  117.000000  145.000000    479.00
2         60  '2020/12/03'  103.000000  135.000000    340.00
3         45  '2020/12/04'  109.000000  175.000000    282.40
4         45  '2020/12/05'  117.000000  148.000000    406.00
5         60  '2020/12/06'  102.000000  127.000000    300.00
6         60  '2020/12/07'  110.000000  136.000000    374.00
7        450  '2020/12/08'  104.000000  134.000000    253.30
8         30  '2020/12/09'  109.000000  128.354839    195.10
9         60  '2020/12/10'   98.000000  124.000000    269.00
10        60  '2020/12/11'  103.000000  147.000000    329.30
11        60  '2020/12/12'  100.000000  120.000000    250.70
12        60  '2020/12/12'  100.000000  120.000000    250.70
13        60  '2020/12/13'  106.000000  128.000000    345.30
14        60  '2020/12/14'  104.000000  132.000000    379.30
15        60  '2020/12/15'   98.000000  123.000000    275.00
16        60  '2020/12/16'   98.000000  120.000000    215.20
17        60  '2020/12/17'  100.000000  120.000000    300.00
18        45  '2020/12/18'   90.000000  112.000000    304.68
19        60  '2020/12/19'  103.000000  123.000000    323.00
20        45  '2020/12/20'   97.000000  125.000000    243.00
21        60  '2020/12/21'  108.000000  131.000000    364.20
22        45       No data  100.000000  119.000000    282.00
23        60  '2020/12/23'  130.000000  101.000000    300.00
24        45  '2020/12/24'  103.451613  132.000000    246.00
25        60  '2020/12/25'  102.000000  126.000000    334.50
26        60      20201226  100.000000  120.000000    250.00
27        60  '2020/12/27'   92.000000  118.000000    241.00
28        60  '2020/12/28'  103.000000  132.000000    304.68
29        60  '2020/12/29'  100.000000  132.000000    280.00
30        60  '2020/12/30'  102.000000  129.000000    380.30
31        60  '2020/12/31'   92.000000  115.000000    243.00

In [59]:
df_formatted.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [60]:
df_formatted.head(10)

   Duration          Date  Pulse    Maxpulse  Calories
0        60  '2020/12/01'  110.0  130.000000     409.1
1        60  '2020/12/02'  117.0  145.000000     479.0
2        60  '2020/12/03'  103.0  135.000000     340.0
3        45  '2020/12/04'  109.0  175.000000     282.4
4        45  '2020/12/05'  117.0  148.000000     406.0
5        60  '2020/12/06'  102.0  127.000000     300.0
6        60  '2020/12/07'  110.0  136.000000     374.0
7       450  '2020/12/08'  104.0  134.000000     253.3
8        30  '2020/12/09'  109.0  128.354839     195.1
9        60  '2020/12/10'   98.0  124.000000     269.0

In [61]:
df_formatted.tail(10)

    Duration          Date       Pulse  Maxpulse  Calories
22        45       No data  100.000000     119.0    282.00
23        60  '2020/12/23'  130.000000     101.0    300.00
24        45  '2020/12/24'  103.451613     132.0    246.00
25        60  '2020/12/25'  102.000000     126.0    334.50
26        60      20201226  100.000000     120.0    250.00
27        60  '2020/12/27'   92.000000     118.0    241.00
28        60  '2020/12/28'  103.000000     132.0    304.68
29        60  '2020/12/29'  100.000000     132.0    280.00
30        60  '2020/12/30'  102.000000     129.0    380.30
31        60  '2020/12/31'   92.000000     115.0    243.00